<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="registroForm" (ngSubmit)="postRegistrar()">
    <ion-list>
      <ion-item>
        <ion-input (change)="buscarCed()" formControlName="cedula" label="Cédula"
          placeholder="Ingrese la cédula"></ion-input>
      </ion-item>
      <div *ngIf="formControls['cedula']?.touched && formControls['cedula']?.invalid">
        <div class="error ion-padding" *ngIf="formControls['cedula']?.errors?.['required']">
          <ion-text color="danger">Cédula requerida.</ion-text>
        </div>
        <div class="ion-padding" *ngIf="formControls['cedula']?.errors?.['pattern']">
          <ion-text color="danger">Ingrese una cédula válida.</ion-text>
        </div>
      </div>
      <ion-item>
        <ion-input formControlName="nombre" label="Nombre" placeholder="Ingrese apellidos y nombres"
          errorText="Nombre inválido (5-100 caracteres)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="correo" label="Correo" placeholder="Correo electrónico"
          errorText="Correo inválido (máx. 50 caracteres)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="celular" label="Celular" placeholder="09XXXXXXXX"
          errorText="Celular inválido"></ion-input>
      </ion-item>
      <ion-item>
        <show-hide-password>
          <ion-input formControlName="pass" label="Contraseña" type="password" placeholder="Contraseña"
            errorText="Contraseña inválida (8-30 caracteres: al menos 1 mayúscula, 1 minúscula, 1 número, 1 símbolo)"></ion-input>
        </show-hide-password>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col class="ion-text-center">
        <p class="text-color-primary"><small>
            <a
              onclick="window.open('http://buzon.esmeraldas.gob.ec/alcaldia_ciudadana/terminos.jsp','_system','location=yes'); return false;">
              Al registrarte aceptas nuestros términos y condiciones
          </a></small></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!this.registroForm.valid" type="submit" shape="round" fill="outline"
          expand="block">Registrarme<ion-icon slot="end" name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>