<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cambio de contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <p class="ion-text-center">
      Para poder actualizar tu contraseña primero debes ingresar tu contraseña
      actual, luego ingresa la nueva contraseña en ambos campos para confirmar
      que la recuerdas.
    </p>
    <div>
      <form [formGroup]="updateForm" (ngSubmit)="updatePassword()">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="lock-open-outline" item-start></ion-icon>
            <show-hide-password>
              <ion-input formControlName="oldPassword" type="password" placeholder="Contraseña actual"></ion-input>
            </show-hide-password>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="lock-closed-outline" item-start></ion-icon>
            <show-hide-password>
              <ion-input formControlName="password" type="password" placeholder="Nueva contraseña"></ion-input>
            </show-hide-password>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="lock-closed-outline" item-start></ion-icon>
            <show-hide-password>
              <ion-input formControlName="passwordConfirmation" type="password"
                placeholder="Confirmar nueva contraseña"></ion-input>
            </show-hide-password>
          </ion-item>
          <div *ngIf="!updateForm.valid && formControls['passwordConfirmation']?.touched">
            <div class="error ion-padding">
              <ion-text color="danger">Las contraseñas deben coincidir y contener al menos 1 mayúscula, 1 minúscula, 1
                número, 1 símbolo</ion-text>
            </div>
          </div>
        </ion-list>
        <div class="ion-padding">
          <ion-button color="primary" expand="block" shape="round" type="submit" fill="outline"
            [disabled]="!updateForm.valid"><ion-icon slot="end" name="shield-checkmark-outline"></ion-icon>Actualizar
            contraseña</ion-button>
        </div>
      </form>
    </div>
  </div>
  
</ion-content>